<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--Fatal：致命异常信息，非常严重的错误。
    Error：错误信息，用于记录异常。
    Warn：警告信息，用于记录不正确的，但程序还可以允许的行为。
    Info：信息类型的消息，用于记录一般的操作。
    Debug：一般用来调试程序，用于记录查询、用户认证、session过期等。
    Trace：最常见的记录信息，一般用于普通输出，例如：开始于哪个方法，结束于哪个方法。-->

    <!--<target xsi:type="File" name="WarnFile" fileName="${basedir}/logs/${shortdate}/Warn/Warn_${date:format=HHmm} .log"
                layout="${longdate} ${uppercase:${level}} ${newline} ${message} ${newline}" />
    <target xsi:type="File" name="DebugFile" fileName="${basedir}/logs/${shortdate}/Debug/Debug_${date:format=HHmm} .log"
                 layout="${longdate} ${uppercase:${level}} ${newline} ${message} ${newline}" />

    <target xsi:type="File" name="ErrorFile" fileName="${basedir}/logs/${shortdate}/Error.log"
             layout="${longdate} ${uppercase:${level}} ${newline} ${message} ${newline}" />-->


    <target xsi:type="File" name="WarnFile" fileName="${basedir}/logs/${shortdate}/Warn/Warn_${date:format=yyyy-MM-dd} .log"
                layout="${longdate} ${uppercase:${level}} ${newline} ${message} ${newline}" />
    <target xsi:type="File" name="DebugFile" fileName="${basedir}/logs/${shortdate}/Debug/Debug_${date:format=yyyy-MM-dd} .log"
                 layout="${longdate} ${uppercase:${level}} ${newline} ${message} ${newline}" />
    <target xsi:type="File" name="InfoFile" fileName="${basedir}/logs/${shortdate}/Info/Info_${date:format=yyyy-MM-dd} .log"
                     layout="${longdate} ${uppercase:${level}} ${newline} ${message} ${newline}" />
    <target xsi:type="File" name="ErrorFile" fileName="${basedir}/logs/${shortdate}/Error.log"
             layout="${longdate} ${uppercase:${level}} ${newline} ${message} ${newline}" />
  </targets>

  <!--<targets>
    <default-wrapper xsi:type="BufferingWrapper" bufferSize="1000"/>
    --><!--缓冲--><!--
    <target xsi:type="File" name="InfoFile" fileName="${basedir}/logs/${shortdate}/Info/Info_${date:format=yyyy-MM-dd} .log"
             layout="${longdate} ${uppercase:${level}} ${newline} ${message} ${newline}" />

  </targets>-->

  <rules>
    <logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="WarnFile" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="DebugFile" />
    <logger name="*" minlevel="Info"  maxlevel="Info" writeTo="InfoFile" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="ErrorFile" />
  </rules>
</nlog>
